
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex=""
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h2 class="modal-title" id="staticBackdropLabel">Connect to Store</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <br>
               <div class="card-body">
                  <div class="row no-gutters">
                     <div class="col-md-4">
                        <img src="/public/images/02.jpeg" style="border-radius: 100%; width:70%; height: 70%;"
                           alt="...">
                     </div>
                     <div class="col-md-8">
                        <div class="card-body">
                           <h4 class="card-title">Tata Product (Name)</h4>
                           <h class="card-title">Crome Store Manager (Name)</h5>
                        </div>
                        <button class="col btn btn-light">REQUEST A CALL BACK</button><br>
                        <button class="col btn btn-light">REQUEST A CALL BACK</button><br>
                        <button class="col btn btn-light">REQUEST A CALL BACK</button><br>
                     </div>
                  </div>
               </div>

               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save</button>
               </div>
            </div>
         </div>
      </div>


      <!-- Modal -->
      <div class="">
         <div class="modal fade bd-example-modal-lg" id="staticBackdrop_1" data-backdrop="static" data-keyboard="false"
            tabindex="" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content" style="background-color: LightGray;">
                  <div class="modal-header">
                     <h2 class="modal-title" id="staticBackdropLabel">Sign in to Cart.com</h2>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <br>

                  <div class="form">
                     <h1 class="text-center">Registration Form</h1>
                     <!-- Progress bar -->
                     <div class="progressbar">
                        <div class="progress" id="progress"></div>

                        <div class="progress-step progress-step-active" data-title="Intro"></div>
                        <div class="progress-step" data-title="Contact"></div>
                        <div class="progress-step" data-title="ID"></div>
                        <div class="progress-step" data-title="Password"></div>
                     </div>

                     <!-- Steps -->
                     <div class="form-step form-step-active">
                        <div class="input-group">
                           <label for="username">Full Name</label>
                           <input type="text" name="username" id="username" />
                        </div>
                        <div class="input-group">
                           <label for="position"> Username</label>
                           <input type="text" name="position" id="position" />
                        </div>
                        <div class="">
                           <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
                        </div>
                     </div>
                     <div class="form-step">
                        <div class="input-group">
                           <label for="phone">Phone</label>
                           <input type="text" name="phone" id="phone" />
                        </div>
                        <div class="input-group">
                           <label for="email">Email</label>
                           <input type="text" name="email" id="email" />
                        </div>
                        <div class="btns-group">
                           <a href="#" class="btn btn-prev">Previous</a>
                           <a href="#" class="btn btn-next">Next</a>
                        </div>
                     </div>
                     <div class="form-step">
                        <div class="input-group">
                           <label for="dob">Date of Birth</label>
                           <input type="date" name="dob" id="dob" />
                        </div>
                        <div class="input-group">
                           <label for="ID">National ID</label>
                           <input type="number" name="ID" id="ID" />
                        </div>
                        <div class="btns-group">
                           <a href="#" class="btn btn-prev">Previous</a>
                           <a href="#" class="btn btn-next">Next</a>
                        </div>
                     </div>
                     <div class="form-step">
                        <div class="input-group">
                           <label for="password">Password</label>
                           <input type="password" name="password" id="password" />
                        </div>
                        <div class="input-group">
                           <label for="confirmPassword">Confirm Password</label>
                           <input type="password" name="confirmPassword" id="confirmPassword" />
                        </div>
                        <div class="btns-group">
                           <a href="#" class="btn btn-prev">Previous</a>
                           <button class="btn btn-primary" id="register">Submit</button>
                        </div>
                     </div>
                  </div>
                  <div class="text-center think-link" data-toggle="modal" data-target="#staticBackdrop_2">Click here
                     for all ready Login User <a href="#" style="color:blue;">Login</a></div>

                  <div class="modal-footer d-flex justify-content-end">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>

               </div>
            </div>
         </div>
      </div>



      <!-- Modal -->
      <div class="">
         <div class="modal fade bd-example-modal-lg" id="staticBackdrop_2" data-backdrop="static" data-keyboard="false"
            tabindex="" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content" style="background-color: LightGray;">
                  <div class="modal-header">
                     <h2 class="modal-title" id="staticBackdropLabel">Sign in to Cart.com</h2>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <br>

                     <div class="signup-form">
                           <h2>Login</h2>
                           <p class="hint-text">WelCome To Cart.com</p>

                           <div class="form-group">
                              <input type="email" id="loginEmail" class="form-control" name="username" placeholder="Enter your Email"
                                 required="true" />
                           </div>
                           <div class="form-group">
                              <input type="password" id="loginPass" class="form-control" name="contactno"
                                 placeholder="Enter your Password" required="true" maxlength="10" />
                           </div>

                           <div class="form-group">
                              <button type="submit" class="btn btn-success btn-lg btn-block" id="login"
                                 name="submit">Submit</button>
                           </div>
                        <div class="text-center think-link" data-toggle="modal" data-target="#staticBackdrop_1">Click
                           here for New User<a href="#" style="color:blue;">Registration</a>Click Close Button</div>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     </div>
               </div>
            </div>
         </div>
      </div>