<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product Dashboard</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Product name here" id="name_of_product" type="text" class="validate">
              <label for="name_of_product">Name of Product</label>
            </div>
            <div class="input-field col s12">
              <input placeholder="Product specifications here" id="specifications_of_product" type="text" classlast_name" type="text" class="validate">
              <label>Product Specifications</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Product Description here" id="description_of_product" type="text" classlast_name" type="text" class="validate">
                <label for="last_name">Product Description</label>
              </div>
          </div>
          <!--Kept for 5 images-->
          <div class="row">
            <div class="input-field col s12">
              <input  value="I am not editable" id="disabled" type="text" class="validate">
              <label for="disabled">Disabled</label>
            </div>
          </div>
          <!----------------------->
          <div class="row">
            <div class="input-field col s12">
                <input placeholder="Product price here" id="price_of_product" type="text" class="validate">
                <label for="price_of_product">Price of Product</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input placeholder="Counts In Stock here" id="count_in_stock" type="text" class="validate">
                <label for="price_of_product">Counts in Stock</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input placeholder="Rating of product here" id="rating_of_product" type="number" class="validate">
                <label for="rating_of_product">Counts in Stock</label>
            </div>
          </div>


        </form>
      </div>
    </div>




</body>
</html>