<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Shop Now</title>
   <!----- LINKS ------->
   <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

   <link rel="stylesheet" href="css/owl.carousel_.min.css" type="text/css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
   <link rel="stylesheet" href="css/style.css" type="text/css" />
   <link rel="stylesheet" href="css/responsive.css" type="text/css" />
   <link rel="stylesheet" href="css/tel.css" type="text/css" />
   <link rel="stylesheet" href="css/head.css" type="text/css" />
   <link rel="stylesheet" href="css/home.css" type="text/css" />
   <link rel="stylesheet" href="css/index.css" type="text/css" />
   <link rel="stylesheet" href="css/my_profile.css" type="text/css" />
</head>

<body class="">

 <!---HEADER --->
   <header class="navbar navbar sticky-top" style="background-color:#49a5a2; height:10rem;">
      <div class="container">
         <div class="row align-center">
            <div class="col-sm-2" style=" top: -1.4rem; padding: 10px;">
               <div class="logo common-logo">
                  <a href="index.html"><img src="images/logo_1.png" alt="Logo"></a>
               </div>
               <!----- for fixed header logo--->
               
            </div>
            <!--LOGO--->
            <div class="col-md-6 search-row">
               <div class="top-search-bar">
                  <form>
                     <div class="input-group">
                        <input type="text_1" class="form-control" style="color:black;" placeholder="Search this blog">
                        <div class="input-group-append">
                           <button class="btn btn-warning bg-warning" type="button">
                              <i style="color:black;" class="fa fa-search"></i>
                           </button>
                        </div>
                  </form>
                  <div class="container" style="font-size:15px;">
      <div class="col-md-4 d-flex justify-content-center" style="left: -6rem;">
            <div class="dropdown">
                    <span class="dropbtn"><b>Products</b></span>
                    <div class="dropdown-content">
                      <a href="Televisions & Accessories.html">Televisions & Accessories</a>
                      <a href="Home Appliances.html">Home Appliances</a>
                      <a href="Phones & Wearables.html">Phones & Wearables</a>
                      <a href="Computers & Tablets.html">Computers & Tablets</a>
                      <a href="Kitchen Appliances.html">Kitchen Appliances</a>
                      <a href="Audio & Video.html">Audio & Video</a>
                      <a href="Health & Fitness.html">Health & Fitness</a>
                    </div>
                    <i class="fa fa-angle-down" aria-hidden="true" style="color: white;"></i>
                  </div>
         </div>
   </div>
               </div>
            </div>
         </div>
         <!--SEARCH--->

         <div class="col-md-4" style=" top: -2rem;">
            <div class="header-right">
               <ul>
                  <li><a href="#"><i class="fa fa-user"></i></a></li>
                  <li><a href="#" class="think-link" data-toggle="modal" data-target="#staticBackdrop_2"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="cart_1.html"><i class="fa fa-shopping-cart"></i> </a></li>
                  <li><a href="#" style="color:white;" class="think-link" data-toggle="modal" data-target="#staticBackdrop_1"> Login / Register </a></li>
               </ul>
            </div>

         </div>
        
         <!--RIGHT HEADER--->
       

      </div>
      </div>
   </header>

   <!---END HEADER --->


   <!---TOP CATEGORY NEW --->
<div class="container card mb-4 mt-4" style="max-width:70rem; font-family: Nunito,sans-serif;">
   <h2>My Profile Page</h2><br>
   <div class="row">
     <div class="col-md-6">
       <div class="card-body">
            <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Title</label>
              <select class="custom-select" id="">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </form>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">First Name</label>
              <input type="text_1" class="form-control" name="">
            </form>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Middle Name</label>
              <input type="text_1" class="form-control" name="">
            </form>
       </div>
     </div>

     <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Last Name</label>
              <input type="text_1" class="form-control" name="">
            </form>
       </div>
     </div>

     <div class="col-md-12">
        <div class="form-check form-check-inline mx-4">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label mx-2" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline mx-5">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <div class="form-check form-check-inline mx-4">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label mx-2" for="inlineRadio1">Transgender</label>
        </div>
        <div class="form-check form-check-inline mx-5">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">I'd rather not say</label>
        </div>

     </div>

     <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Mobile Number</label>
              <input type="number" class="form-control" name="">
            </form>
       </div>
     </div>

     <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Email Id</label>
              <input type="text_1" class="form-control" name="" placeholder="Enter e-mail id" >
            </form>
       </div>
     </div>

       <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Date of Birth</label>
              <input type="date" class="form-control" name="" placeholder="Enter e-mail id" >
            </form>
       </div>
     </div>

       <div class="col-md-6">
       <div class="card-body">
      <form class="">
              <label class="hello" for="inlineFormCustomSelectPref">Date of Anniversary</label>
              <input type="date" class="form-control" name="" placeholder="Enter e-mail id" >
            </form>
       </div>
     </div>
     <div class="col d-flex justify-content-center mb-5 mt-4">
       <div class="btn btn-secondary mx-2" style="font-family:serif; font-weight:bold">DISCARD CHANGES</div>
       <div class="btn btn-warning mx-2" style="font-family:serif; font-weight:bold;">SAVE CHANGES</div>
     </div>

   </div>
</div>


<footer class="footer">
    <div class="container">
          <div class="logo common-logo" style="max-width:100px; margin-top: -7rem; margin-left: -10rem;">
                  <a href="index.html"><img src="images/logo_1.png" alt="Logo"></a>
            </div>
      <div class="row">
         <div class="footer-col col-md-3">
            <h4>CONNECT WITH US</h4>
            <ul>
                      <div class="input-group-lg input-group">
                        <input type="text_1" class="form-control mb-5" style="height:5rem; width: 20rem;" placeholder="Enter your e-mail address" aria-label="Recipient's username" aria-describedby="button-addon2">
                     <div class="input-group-append">
                           <button class="btn btn-light think-link" style="height:5rem; font-family: Nunito,sans-serif;" type="button" id="button-addon2"> 
                           <span>&#8594;</span>
                        </button>
                     </div>
                 
                    
                   <div class="social-links">
                     <a href="#"><i style="color:red;" class="fa fa-youtube-play"></i></a>
                     <a href="#"><i class="fa fa-google"></i></a>
                     <a href="#"><i class="fa fa-facebook-f"></i></a>
                     <a href="#"><i style="color:red;" class="fa fa-instagram"></i></a>
                     <a href="#"><i style="color:blue;" class="fa fa-twitter"></i></a>
            </div>
            </div>
            <div class="container mt-5">
               <p>© Copyright 2021 Croma. All rights reserved</p>
            </div>
               
            </ul>
         </div>
         <div class="vl footer-col col">
            <h4>USEFUL LINKS</h4>
            <ul>
               <li><a href="#">About Croma</a></li>
               <li><a href="#">Help And Support</a></li>
               <li><a href="#">FAQs</a></li>
               <li><a href="#">Order Support</a></li>
               <li><a href="#">Bulk Enquiry</a></li>
               <li><a href="#">Store Locator</a></li>
               <li><a href="#">Delightful Programmes</a></li>
            </ul>
         </div>
         <div class="footer-col mt-4 col">
            <h4></h4>
            <ul class="mt-4">
               <li><a href="#">E-Care</a></li>
               <li><a href="#">Franchise Opportunity</a></li>
               <li><a href="#">Site Map</a></li>
               <li><a href="#">Careers At Croma</a></li>
               <li><a href="#">Terms Of Use</a></li>
               <li><a href="#">Disclaimer</a></li>
               <li><a href="#">Privacy Policy</a></li>
            </ul>
         </div>

         <div class="vl footer-col col">
            <h4>PRODUCT</h4>
            <ul>
               <li><a href="#">Televisions & Accessories</a></li>
               <li><a href="#">Home Appliances</a></li>
               <li><a href="#">Phones & Wearables</a></li>
               <li><a href="#">Computers & Tablets</a></li>
               <li><a href="#">Kitchen Appliances</a></li>
               <li><a href="#">Audio & Video</a></li>
               <li><a href="#">Health & Fitness</a></li>
            </ul>
         </div>
         <div class="footer-col mt-4 col">
            <h4></h4>
            <ul class="mt-4">
               <li><a href="#">Grooming & Personal Care</a></li>
               <li><a href="#">Cameras & Accessories</a></li>
               <li><a href="#">Smart Devices</a></li>
               <li><a href="#">Gaming</a></li>
               <li><a href="#">Zip Services</a></li>
               <li><a href="#">Accessories</a></li>
               <li><a href="#">Top Brands</a></li>
            </ul>
         </div>
      
      </div>
    </div>
  </footer>
   




    <!---- END CONTENT THREE---->
   <!---END  CONTENT MODULE ONE  --->
   <script src="js/jquery.js"></script>
   <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/custom.js"></script>
   <script src="js/head.js"></script>
   <script src="js/tel.js"></script>
</body>
</html>