.accordion {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  width: 80%;
  background: lightcyan;
  border: none;
  outline: none;
  border-bottom: 1px solid #54a0ff;
  color: lightdark;
  cursor: pointer;
}

.accordion-header.active {
  background-color: pink;
}
.accordion-header.active i {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.accordion-body {
  padding: 0 1rem;
  background-color: lightcyan;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordion-body.active {
  max-height: 30rem;
  padding: 1rem;
}


.nav navbar sticky-top {
 background-color:  #b30059;
}